<!DOCTYPE html>
<html>
    <head>
        <title>GroupMemail - Email notifications for GroupMe</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}"></style>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-48100834-1', 'groupmemail.herokuapp.com');
            ga('send', 'pageview');
        </script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div id="main_content" class="col-md-8">
                    <h1>{% block header %}{% endblock %}</h1>
                    {% block content %}{% endblock %}
                    <p class="text-muted"><br><br><small><a href="https://twitter.com/groupmemail">@groupmemail</a> | Made by <a href="https://twitter.com/williamjackson">William</a>.</small></p>
                </div>
            </div>
        </div>
        {% block script %}{% endblock %}
    </body>
</html>
