<!DOCTYPE html>
<html>
    <head>
        <title>GroupMemail</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}"></style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div id="main_content" class="col-md-6">
                    <h1>Hello, <span id="groupme_username">GroupMe User</span>. <a class="btn btn-danger pull-right" href="{{ url_for('groupme_logout') }}">Log out</a></h1>
                    <p id="group_p" class="lead">Loading...</p>
                    <div id="group_list" class="list-group"></div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='groupme_list.js') }}"></script>
    </body>
</html>
