<!DOCTYPE html>
<html>
    <head>
        <title>GroupMemail</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}"></style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>Hello there. <a class="btn btn-danger pull-right" href="https://oauth.groupme.com/oauth/authorize?client_id={{ cid }}">Log in</a></h1>
                    <p id="group_p" class="lead">Log in to get email notifications for your GroupMe groups.</p>
                </div>
            </div>
        </div>
    </body>
</html>
