<!DOCTYPE html>
<html>
    <head>
        <title>GroupMemail</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}"></style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>Hello there. <a class="btn btn-success pull-right" href="https://oauth.groupme.com/oauth/authorize?client_id={{ cid }}">Log in</a></h1>
                    <p class="lead">Log in to get email notifications for your GroupMe groups.</p>
                    <p>If you can&rsquo;t or don&rsquo;t want to use the GroupMe app, and you would rather not use SMS, you can use this service to get your GroupMe messages by email instead. Emails include the full text of all messages and any pictures posted to the group.</p>
                    <p>Subscribe to any or all of your groups. The choice is yours. Unsubscribe at any time.</p>
                    <p>If you are switching from SMS, you can disable SMS service in your <a href="https://app.groupme.com/profile">GroupMe profile</a>.</p>
                    <p><small>&copy; 2014 Subtle Coolness Services</small></p>
                </div>
            </div>
        </div>
    </body>
</html>
