{% extends 'base.html' %}

{% block header %}Hello there. <a class="btn btn-success pull-right" href="https://oauth.groupme.com/oauth/authorize?client_id={{ cid }}">Log in</a>{% endblock %}

{% block content %}
    <p class="lead">Log in to get email notifications for your <a href="https://groupme.com/">GroupMe</a> groups.</p>
    <p>If you can&rsquo;t or don&rsquo;t want to use the GroupMe app, and you would rather not use SMS, you can use this service to get your GroupMe messages by email instead. Emails include the full text of all messages and any pictures posted to the group.</p>
    <p>Subscribe to any or all of your groups. The choice is yours. Unsubscribe at any time.</p>
    <p><small>&copy; 2014 Subtle Coolness Services</small></p>
{% endblock %}
