<!DOCTYPE html>
<html>
    <head>
        <title>GroupMemail - Email notifications for GroupMe</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div id="main_content" class="col-md-8">
                    <h1>{% block header %}{% endblock %}</h1>
                    {% block content %}{% endblock %}
                    <p class="text-muted"><br><br><small><a href="https://twitter.com/groupmemail">@groupmemail</a> | Made by <a href="https://twitter.com/williamjackson">William</a>.</small></p>
                </div>
            </div>
        </div>
        {% block script %}{% endblock %}
    </body>
</html>
