{% extends 'logged_in.html' %}

{% block end_of_head %}
    <meta id="payment-success-url" href="{{ url_for('payment_success', _external=True) }}">
    <meta id="payment-cancel-url" href="{{ url_for('index', _external=True) }}">
    <meta id="stripe-publishable-key" content="{{ g.stripe_key }}">
    <meta id="stripe-sku" content="{{ g.stripe_sku }}">
    <meta id="user-email" content="{{ g.user.email }}">
{% endblock %}

{% block content %}
    <p class="lead">Use of the GroupMemail service costs $1/month.</p>
    <p>You can use a credit card to purchase 6 months (180 days) of credit at a time. Your service will not automatically renew, but you will be reminded via email when your service is nearing expiration.</p>
    <p>{{ g.user.expiration_msg }}</p>
    <div>
        <script src="https://js.stripe.com/v3" class="stripe-button"></script>
        <button class="btn btn-primary" id="checkout-button">Pay</button>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='payment.js') }}"></script>
{% endblock %}
